.history
.conda
.env
vscode-server/vscode_config
vscode-server/projects
vscode-server/notebooks
__pycache__
*.pyc
ch03/datasets/
ch03/datasets/imdb_reviews.csv
교보_S000001057805_리뷰_20250405_161146.csv
ch03/subjects/kyobo.js
ch05/kmu-ds-kaggle-mcp/venv/
ch05/datasets/*
.DS_Store